.List {
  display: flex;
  align-items: center;

  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.Item:not(:last-child) {
  margin-right: 20px;
}

.Link {
  color: #FFF9F9;
}
